endpoint_url=https://<ACCOUNT_ID>.r2.cloudflarestorage.com
aws_access_key_id=<YOUR_R2_ACCESS_KEY_ID>
aws_secret_access_key=<YOUR_R2_SECRET_ACCESS_KEY>
MONGO_URI=mongodb://localhost:27017/
SECRET_KEY=<YOUR_FLASK_SECRET_KEY>
ADMIN_PASSWORD=<YOUR_ADMIN_PASSWORD>
BUCKET_NAME=cdn
CDN_DOMAIN=cdn.yourdomain.com
